<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragments="head">
    <title th:text="${title}">title</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/categories-style.css}">
    <!-- js -->
    <script th:src="@{/js/ProcessVideo.js}" type="text/javascript"></script>
    <script th:src="@{/js/RemoveVideoOverlayOnClick.js}" type="text/javascript"></script>
    <script th:src="@{/js/RemovePortfolioLinkOnMobilePhones.js}" type="text/javascript"></script>
    <!-- webjars -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

        @font-face {
            font-family: DINPro-Regular;
            font-style: normal;
            font-weight: normal;
            src: url('fonts/din-regular.ttf') format('truetype');
        }

        body {
            font-family: 'Varela Round', sans-serif;
            font-weight:normal;
        }

        .video-title {
            font-family: DINPro-Regular;
        }

        .dropdown-toggle::after {
            display:none;
        }

    </style>
</head>
</html>