img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.img-no-border {
    border-radius: 10px;
}

h4 {
    cursor: pointer;
    position: relative;
    display: inline-block;
    background-clip: inherit;
    -webkit-background-clip: text;
    color: transparent;
    background: linear-gradient(to bottom, #000, #000 80%, #fff 70%, #fff 100%) no-repeat;
    transition: background 0.2s ease-out;
    white-space: nowrap;
    font-size: 25px;
}
