img {
    pointer-events: auto;
}

.btn-circle.btn-md {
    width: 190px;
    height: 60px;
    padding: 15px 0;
    border-radius: 20px;
}

.col-padding {
    padding: 20px 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover {
    color: black;
}

.dropdown-item p {
    color: white;
    display: block;
    margin: 0 auto 0 -10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15pt;
    text-decoration: none;
    font-family: DINPro-Regular, serif;
}

.dropdown-item:hover p {
    color: black;
}

.rounded-corners {
    border-radius: 30px;
}

.social {
    padding-left: 20px;
}

@media (max-width: 968px) {
    .sticky-top {
        position: relative;
    }
}

@media (min-width: 1200px) {
    i {
        font-size: 3.2rem;
        word-spacing: 100px;
    }

    .btn {
        min-width: 10rem;
        max-width: 10rem;
    }

    .social {
        padding-left: 140px;
    }

    .about-img{
        width: 300px;
        height: 270px;
    }

    #dropdown-menu {
        margin-left: -60px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    i {
        font-size: 2.9rem;
        word-spacing: 50px;
    }

    .btn {
        min-width: 12rem;
        max-width: 12rem;
    }

    .social {
        padding-left: 120px;
    }

    .about-img{
        width: 250px;
        height: 220px;
    }

    #dropdown-menu {
        margin-left: -50px;
    }
}

@media (max-width: 991px) {
    i {
        font-size: 2.0rem;
        word-spacing: 40px;
    }

    .btn {
        font-size: 1rem;
        min-width: 6.0rem;
        max-width: 6.0rem;
    }

    .social {
        padding-left: 40px;
    }

    .about-img{
        width: 200px;
        height: 170px;
    }

    #dropdown-menu {
        margin-left: -90px;
    }
}

@media (max-width: 767px) {
    i {
        font-size: 1.5rem;
        word-spacing: 5px;
    }

    .btn {
        font-size: 1rem;
        min-width: 6.0rem;
        max-width: 6.0rem;
    }

    .portfolio-video {
        width: 80%;
        height: 200px;
    }

    .about-img{
        width: 200px;
        height: 170px;
    }

    #dropdown-menu {
        margin-left: -80px;
    }
}


@media (max-width: 576px) {
    i {
        font-size: 1.5rem;
        word-spacing: 5px;
    }

    .btn {
        font-size: 1rem;
        min-width: 6.0rem;
        max-width: 6.0rem;
    }

    .portfolio-video {
        width: 80%;
        height: 200px;
    }

    .social {
        padding-left: 18px;
    }

    .about-img{
        width: 200px;
        height: 170px;
    }

    #dropdown-menu {
        margin-left: -100px;
    }
}
/* video hover effect */
.hover-effect {
    width: 100%;
    height: 98%;
    float: left;
    overflow: hidden;
    position: relative;
    font-size: 30px;
    text-align: center;
    cursor: default;
    background: dimgrey;
    pointer-events: none;
}
.hover-effect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 0;
    padding: 0 20px;
}
.hover-effect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.hover-effect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.hover-effect h2 {
    text-transform: uppercase;
    content: '';
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 25px;
    font-weight: bold;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
}
.hover-effect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.hover-effect:hover h2:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.hover-effect a, .hover-effect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.hover-effect:hover a, .hover-effect:hover p {
    opacity: 1;
    font-weight: bold;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}