<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head(title='Contact')"></head>
<body class="d-flex flex-column min-vh-100">
<div class="bg-dark text-white position-static">
    <div class="wrapper flex-grow-1">
        <div class="page-header mt-5 mx-auto">
            <h3 class="display-4 text-center"><a href="/all-projects-category" style="color: white; text-decoration: none;
            font-family: DINPro-Regular;">Jordi Torrens Heppell</a>
            </h3>
        </div>
    </div>
</div>
<!-- navigation buttons -->
<div th:insert="fragments/navigation-buttons :: div"></div>
<!-- contact form -->
<div class="container mt-5">
    <div class="page-header text-center">
        <h1 class="display-5">Get in touch</h1>
    </div>
</div>
<div class="container mt-4 mb-5">
    <div class="row">
        <div class="col-8 mx-auto">
            <form action="#" method="post" th:action="@{/contact}" th:object="${contactMessage}">

                <ul th:if="${#fields.hasErrors('*')}">
                    <li th:each="error : ${#fields.errors('*')}" th:text="${error}">error</li>
                </ul>

                <div class="form-group text-center">
                    <label><strong>Email address</strong></label>
                    <input class="form-control" th:field="*{contactEmail}" type="text"/>
                </div>

                <div class="form-group text-center">
                    <label><strong>Subject</strong></label>
                    <textarea class="form-control" rows="1" th:field="*{contactSubject}" type="text"></textarea>
                </div>

                <div class="form-group text-center">
                    <label><strong>Message</strong></label>
                    <textarea class="form-control" rows="5" th:field="*{contactMessage}" type="text"></textarea>
                </div>
                <div class="input text-center">
                    <input class="btn btn-default btn-lg btn-outline-light btn-work"
                           style="border-radius: 10px; padding: 6px; font-size: 12pt;
color: black;" type="submit" value="Contact"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>